.configPointButton {
  background-position: 0.5vh 0.5vh;
  background-size: 3vh;
  background-repeat: no-repeat;

  float: left;
  margin-right: 2%;
  margin-bottom: 2%;
  width: 100%;
  height: 4vh;
  text-align: center;
  transition: 1s;
  position: relative;
}
